{% load bootstrap3 %}
<!doctype html>
<html>
    <head>
        <title>List of shared links</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
<div style="position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
  <a class="btn btn-info btn-lg" href="{% url 'social:begin' 'facebook' %}" style="vertical-align:middle">
    <span class="glyphicon glyphicon-log-in"></span>
    Login With Facebook
  </a>
</div>
</html>
