{% load render_table from django_tables2 %}
{% load bootstrap3 %}
<!doctype html>
<html>
    <head>
        <title>List of shared links</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <div>
    {% if status == 1 %}
    <center style="color:#70C9F5">
      <h4>
      Music Shared With {{ user.get_full_name }}!
      </h4>
    </center>
    {% else %}
    <center style="color:#70C9F5">
      <h4>
      Music Heard By {{ user.get_full_name }}!
      </h4>
    </center>
    {% endif %}
    </div>
    {% if shared %}
    <div>
      <center style="color:#70C9F5">
        <h5>
        <span style="color:#99BFF3">{{shared}}</span> has been shared with your Facebook Friends who have MusicShare installed.
      </h5>
      </center>
    </div>
    {% endif %}

    <div align=right>
    <a class="btn btn-sm" href="{%url 'logout' %}" style="position:fixed;right: 0;top: 0;">
      <span class="glyphicon glyphicon-off"></span>
      Logout
    </a>
    </div>

    <div style="margin-top:30px;margin-bottom:30px">
      <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Search' %}
      </form>
    </div>
    <div style="margin-top:30px;margin-bottom:30px">
    <body>
        {% render_table table %}
    </body>
    </div>

    <div>
      <center>
          <div>
          <a class="btn btn-info btn-sm" href="{%url 'manageSharedLinks' status%}">
            <span class="glyphicon glyphicon-plus"></span>
            Add New Link
          </a>
          </div>
          {% if status == 1 %}
              <a href="/storeLinks/2">GoTo Done</a>
          {% else %}
              <a href="/storeLinks/1">GoTo Listen</a>
          {% endif %}
      </center>
    </div>
</html>
